.array-container {
  position: fixed;
  left: 39%;
  bottom: 100px;
  /* top: 100px; */
}

.array-bar {
  width: 2px;
  display: inline-block;
  margin: 0 1px;
  background-color: aqua;
}
.btn-cls {
  position: fixed;
  bottom: 50px;
  display: flex;
  justify-content: end;
}
.btn {
  /* position: fixed; */
  bottom: 50px;
  margin: 10px;
}
